body {
	background-image: url(China.jpg);
}

.stina {
	color:#FF4100;
    font-family: cursive;
    font-size: 125;
    margin-left: 325px;
    opacity: 0.9;
}

.text {
 	color:#000000;
    font-family: segoe script;
    font-size: 32px;
    margin-right: 24px;	
}
.golovna {
    color: #050505;
    font-size:36px;
    margin-left:980px;
}

